@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", serif;
}

:root {
	--app-bg-color: #f34849;
	--card-bg-color-white: #fff;
	--card-bg-color-dark: #242424;
	--color-light-gray: #f0f0f0;
}

body {
	background-color: var(--app-bg-color);
}

.phonebook-container {
	border: 2px solid red;
	background-color: var(--card-bg-color-white);
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border: 1px solid var(--color-light-gray);
	border-radius: 10px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	margin-top: 10%;
	margin-bottom: 10%;
}

.phonebook-container .phonebook-header {
	display: flex;
	margin: 10px 0;
}

.phonebook-header .phonebook-new {
	background-color: var(--color-light-gray);
	padding: 5px;
	border: 1px solid #d1d5db;
	border-radius: 5px;
	cursor: pointer;
}

.phonebook-header .phonebook-search {
	padding: 5px;
	border: 1px solid #d1d5db;
	border-radius: 5px;
	flex-grow: 1;
	background-color: var(--color-light-gray);
}

/* List styles */
.phonebook-list {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.phonebook-list.hidden {
	display: none;
}

.phonebook-list ul {
	list-style: none;
}

.phonebook-list .list-item {
	padding: 5px 0;
	border-bottom: 1px solid #dcdcdc;
	display: flex;
}

.list-item .list-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
	font-size: 15px;
}

.list-item .list-email {
	color: #6b7280;
}

.list-item .list-actions {
	margin-left: auto;
	align-self: center;
}

.list-actions .delete-item {
	padding-left: 10px;
}

.delete-item,
.edit-item {
	cursor: pointer;
	font-size: 1.2em;
}

.list-item img {
	height: 4rem;
	border-radius: 50%;
}

/* Form Styles */
.phonebook-form {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.phonebook-form.hidden {
	display: none;
}

.phonebook-form input {
	padding: 10px;
	border: 1px solid #d1d5db;
	border-radius: 5px;
	margin: 5px 0;
	background-color: var(--color-light-gray);
}

.phonebook-form input:first-child {
	cursor: pointer;
}

.phonebook-form button {
	background-color: var(--app-bg-color);
	padding: 10px;
	border: 1px solid #d1d5db;
	border-radius: 5px;
	cursor: pointer;
	color: var(--card-bg-color-white);
	font-size: 1em;
	margin-top: 5px;
}

/* @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
	.phonebook-container {
		width: 50%;
	}
} */
